/* TODO: Struggle with CSS here */

a.headerlink {
    margin-left: 0.25em;
}

footer {
    margin: 3em 0 0 0;
}

footer p {
    text-align: center;
    margin: 0;
    padding: 0;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 1em;
}
