/* TODO: Struggle with CSS here */

a.headerlink {
    margin-left: 0.25em;
}

body {
    max-width: 800px;
    margin: 0 auto;
    padding: 1em;
}

footer {
    margin: 3em 0 0 0;
    padding: 0;
}

footer p {
    text-align: center;
    margin: 0 0 0.5em 0;
    padding: 0;
}

img {
    max-width: 100%;
}

nav {
    margin: 0;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 1em;
}
