:root {
  --background-primary: #262626;
  --foreground-primary: #f2f2f2;
  --background-secondary: #0d1117;
  --foreground-secondary: #e6edf3;
  --link-unvisited: lightskyblue;
  --link-visited: violet;
  --new-code: seagreen;
}
